@font-face {
font-family:"FontZrinka";
src:url("FontZrinka.ttf");}
h1{font-size: 72px;
	font-family: "FontZrinka";
	text-align: center;
}
body{
	background-image: url("Pozadinska_slika.jpg");
	margin-left: auto;
  margin-right: auto;
width: 50%}
p, h2 {text-align: center;
font-family:"Times New Roman", Times, serif;
font-size: 20px;}
img{
	size: 400px;
	 display: block;
  margin: auto;
  width: 50%;
  border: 7px solid #E9967A
}
ul {	
			padding:20px; 
			margin-left: auto; 
			margin-right:auto;  
			width: 400px;
			} 
	li {	display:inline; 
			background-color:pink;
			padding:20px;
	border: 2px solid IndianRed;}
    li:active {background-color:white;}
	li a:hover {background-color;white;}